@model IEnumerable<E_Commerces.Models.Invoice>

@{
    ViewData["Title"] = "Index";

}

<h1>All Invoice</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<div class="row">
    <div class="col-md-4">
        <p>Filter by date:</p>
        <form asp-action="Index" method="get">
            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" id="startDate" name="startDate">
            </div>
            <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" id="endDate" name="endDate">
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VatRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VatCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VatRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VatCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promotion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
@*             <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8" style="text-align: right;"><strong>Total Revenue:</strong></td>
            <td id="totalPrice"></td>
        </tr>
    </tfoot>
</table>
<script>
    // Calculate total final price
    @{

        double totalPrice = 0;
        foreach (var item in Model)
        {
            totalPrice += (double) item.FinalPrice;
        }
    }

    document.getElementById("totalPrice").innerText = @totalPrice;
</script>