@model IEnumerable<E_Commerces.Models.Order>

@{
    ViewData["Title"] = "Index";
    var IsAdmin = User.IsInRole("System Admin");
    var IsDeleteByCustomers = true;
}

<h1>Order Listed</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
            <td>
                    @if (IsAdmin) {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    }|
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (IsDeleteByCustomers)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                    }
            </td>
        </tr>
}
    </tbody>
</table>
